* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
}

body {
  background: #10141c;
  color: white;
}

.three-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#three-container {
  width: 100%;
  height: 100%;
}

#three-container canvas {
  display: block;
}

.info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 10;
  font-size: 2rem;
  pointer-events: none;
}

.animate {
  pointer-events: auto;
}

.normal-section {
  min-height: 100vh;
  padding: 100px;
}

.normal-section div {
  height: 100vh;
}
.gsap div{
  min-height: 100vh;
  border: 2px double #fff;
}